$mainBlue: #2f5572;
$mainOrange: #d59541;

$lightGreen: #C0DAC8;
$darkGreen: #258572;
$darkestGreen: #124239;
$mainGreen: #35BEA4;
$blueGreen: #28A49A;

$vibrantBurgundy: #C13651;
$mainBurgundy: #852538;

$fontHeading: 'Poiret One', cursive;
$fontContent: 'Raleway', sans-serif;

