.contact {

	#googleMap {
		width: 100%;
        border: 18px solid rgba($darkGreen, .7);
        height: 300px;

        @mixin atMedium {
        	height: auto;
        }
	}

 	&__info-container {
 		width: 100%;
 		text-align: center;
 		background-color: rgba($darkGreen, .7);
 		padding: 10px;
 		font-weight: 300;
 		font-family: $fontHeading;
 		color: #FFF;

 		@mixin atMedium {
 			display: block;
 			margin: 0 auto;
 		}

 		&--modal{
 			@mixin centerer; 
 		}
 	}

 	&__social {
 		display: block;
 		margin: 0 auto;

 		&--modal {
 			position: relative;
 			height: 500px;
 		}
 	}

 	&__btn-social {
 		display: block;
 		margin: 0 auto;
 		background-color: transparent;
 		border: 2px solid #FFF;
 		padding: 1.25rem;
 		width: 100%;
 		margin-top: 20px;
 		outline: none;

 		@mixin atSmall{
 			width: 320px;
 		}
 	}

}