.feature-item {

  position: relative;
  border: 2px solid #FFF;
  background-color: $lightGreen;
  margin-bottom: 10px;


    @mixin atSmall {
      padding: 5px 30px;
      margin-bottom: 45px;
  }

  &__icon {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
  }


  &__title {
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: .7em;
    margin-bottom: .8rem;
    text-align: center;
    color: #FFF;

    @mixin atSmall {
      margin-top: 1em;
      font-size: 1.6rem;
    }
  }

  &__description {
    font-size: 13px;
    line-height: 1.65;
    text-align: center;
    color: #000;

    @mixin atSmall {
      font-size: 15px;
    }
  }
}
