.parallax {

    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &--hero {
      background-color: #FFF;
      height: 100vh;
      @mixin atMedium {
        background-image: url('../../assets/images/bg-light-dots.jpg');
      }
    }

    &--recommendations {
      background-color: #FFF;
      height: auto;
      @mixin atMedium {
        background-image: url('../../assets/images/recommendations-bg-dots-white.jpg');
      }
    }

    &--clinic {
      height: auto;
      width: 100%;
      background-image: url('../../assets/images/clinic-bg.jpg');
    }
}
