.recommendation-carousel {
	.owl-nav{
		text-align: center;

		button.owl-prev {
			margin-right: 10px;
			font-size: 25px;
			color: $darkGreen;
		}
		button.owl-next {
			margin-left: 10px;
			font-size: 25px;
			color: $darkGreen;
		}
	}


	&__item {
		width: 90%;
		border: .5px solid $mainGreen;
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
		text-align: center;
		padding: 5px 20px 20px 20px;

		@mixin atSmall {
			width: 70%;
		}
	}

	&__quote{
		text-align: center;
		font-weight: 400;
		color: $darkestGreen;
		font-size: 18px;
		line-height: 1.2;

		@mixin atSmall {
			font-size: 1.5em;
			line-height: 1.5;
		}
	}

	&__source {
		text-align: center;
		text-transform: uppercase;
	}
}