.testimonial {

    background-color: rgba($lightBlue, .8);
    padding: 0 18px 1px 18px;
    margin-bottom: 40px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 18px;
    color: $mainWhite;
    font-weight: 300;
    line-height: 1.3;

    @mixin atLarge{
      margin-bottom: 0;
      padding: 0 1.8125rem 1px 1.8125rem;
    }

    @mixin atLarger {
      font-size: 25px;
      padding: 0 50px 20px 50px;
    }


    &__row {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;

      @mixin atMedium {
        width: 60%;
      }

      @mixin atLarger {
        width: 40%;
      }
    }

    &__photo {
      border-radius: 100px;
      overflow: hidden;
      width: 200px;
      height: 200px;
      margin: 0 auto -80px auto;
      position: relative;
      top: -80px;
      border: 6px solid rgba($lightBlue, .9);
      transition: all 0.25s ease-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    &__title {
      color: $mainWhite;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      margin: 0;
      margin-top: 15px;
      font-family: 'Oswald', sans-serif;

      @mixin atLarger {
        font-size: 40px;
      }
    }
  }
