.card {

  &__item {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    transition: all 0.25s ease-out;

    &:hover {
      transform: scale(0.9);
    }
  }

  &__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/images/music-film.jpg');
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border: 5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-out;

    @mixin atSmall {
      width: 400px;
      height: 400px;
      border: 15px solid #fff;
    }

    &--skinnysouls {
      background-image: url('../../assets/images/card/music-ssr.jpg');
    }

    &--film {
      background-image: url('../../assets/images/card/music-film.jpg');
    }

    &--void {
      background-image: url('../../assets/images/card/film-void.jpg');
    }

    &--simia {
      background-image: url('../../assets/images/card/film-simia.jpg');
    }
  }

  &__text {
    color: #fff;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    line-height: 1;
    cursor: pointer;
    transition: all 0.25s ease-out;
    /*margin: 0 auto;*/

    @mixin atMedium {
      font-size: 45px;
    }

    &:hover {
      color: $neonGreen;
    }



  }
}
