.footer {
  display: block;
  padding: 20px 0;
  background-color:#000000;
  text-align: center;

  &__text {
    color:	#737373;
    font-family: "Poiret One", cursive;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 4px;
  }
}
